<div class="w-full h-full min-h-0 rounded-xl bg-gray-100 overflow-hidden flex items-center justify-center">

@if(isLoading){


    <div class="w-full h-full p-6 flex flex-col gap-3">
        <app-skeleton styleClass="w-3/4 h-4" />
        <app-skeleton styleClass="w-1/2 h-4 mb-4" />
        <app-skeleton styleClass="w-full h-3" />
        <app-skeleton styleClass="w-full h-3" />
        <app-skeleton styleClass="w-5/6 h-3" />
        <app-skeleton styleClass="w-full h-3 mt-4" />
        <app-skeleton styleClass="w-full h-3" />
        <app-skeleton styleClass="w-2/3 h-3" />
    </div>


}

@else if(safePreviewUrl){


    <iframe

        [src]="safePreviewUrl"

        class="w-full h-full border-0"

        title="Resume preview">

    </iframe>


}

@else{


    <p class="text-[#475569]">

        No preview available

    </p>


}


</div>