<app-modal (close)="closeModal()">


<div class="flex w-225 h-150 gap-6">


    <!-- PREVIEW -->

    <div class="w-3/5">


        <app-resume-previewer

            [previewUrl]="previewUrl"

            [isLoading]="isLoading">

        </app-resume-previewer>


    </div>





    <!-- DETAILS -->

    <div class="w-2/5 flex flex-col justify-between">


        <div>


            <h2 class="text-2xl font-bold text-[#1B2430]" style="font-family:'Fraunces',serif;">

                {{resume.resumeTitle}}

            </h2>



            <p class="text-sm text-[#5B6270] mt-2">

                Uploaded:
                {{resume.uploadedAt | date: 'medium'}}

            </p>



            <p class="text-xs text-[#475569] mt-0.5">

                Size:
                {{resume.fileSize / 1024 / 1024 | number: '1.2-2' }}
                MB

            </p>


        </div>






        <div class="flex flex-col gap-3">


            <app-button
                variant="create"
                (click)="editResume()">

                Edit

            </app-button>



            <app-button
                variant="danger"
                (click)="deleteResume()">

                Delete

            </app-button>


        </div>


    </div>


</div>


</app-modal>